# WAP to calculate mean

In [3]:
num = [4, 5, 34, 5, 32, 9, 8, 85, 76, 2]
num_of_items = len(num)
total = 0
for item in num:
    total += item
print(total, num_of_items)
mean = total / num_of_items
mean

260 10

26.0

In [4]:
num = [4, 5, 34, 5, 32, 9, 8, 85, 76, 2]
no_items = len(num)
total = 0
for index in range(len(num)):
    item = num[index]
    total += item
print(total, no_items)
mean = total / no_items
mean

260 10

26.0

# WAP to lowercase items in given list using list comprehension.

In [5]:
fruits = ["APPLE", "BANANA", "MANGO", "ORANGE"]
fruits = [item.lower() for item in fruits]
fruits

['apple', 'banana', 'mango', 'orange']

In [6]:
fruits =["apple", "banana", "apple", "mango"]
# fruits = [expression for item in iterables if condition == True]
fruits = [item for item in fruits if item != "apple"]
fruits

['banana', 'mango']

In [1]:
fruits = ["orange", "banana", "kiwi", "pineapple", "apple", "banana"]
# [expression if condition == True else expression for item in iterables]
fruits = [item.replace(item, "orange") if item != "banana" else item for item in fruits]
fruits

['orange', 'banana', 'orange', 'orange', 'orange', 'banana']

# Accept only numbers lower than 5 from range -5 to 10.

In [3]:
num_list = [item for item in range(-5, 10) if item < 5]
num_list

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]