In [6]:
first_name = "Rajendra Niroula"

In [7]:
len(first_name)

16

In [9]:
for letter in first_name:
    print(letter)

R
a
j
e
n
d
r
a

N
i
r
o
u
l
a

In [28]:
first_name = "Rajendra"

In [29]:
name = []
num = 0
for letter in first_name:
    if letter == "a":
        num += 1
    elif letter != "a":
        name.append(letter)
print(name)
print(f"There are total {num} letter a in your name.")
print("".join(name))

['R', 'j', 'e', 'n', 'd', 'r']
There are total 2 letter a in your name.
Rjendr

In [31]:
def calc(para):
    value = 34
    return para * value
print(calc(10))

340

In [51]:
num1 = float(input("Enter number 1: "))
num2 = float(input("Enter number 2: "))
opr = input("What operation do you want to perform(-, +, *, /)?: ")

def calculator(num1, num2, operator):
    operation = round((eval(f"{num1} {operator} {num2}")), 2)
    print(f"The ({operator}) operation is {operation}.")
    
calculator(num1, num2, opr)

Enter number 1:  45
Enter number 2:  34
What operation do you want to perform(-, +, *, /)?:  +

The (+) operation is 79.0.

In [52]:
4 / 2 * 5

10.0

In [55]:
5 * 6 / 2 // 2

7.0

In [57]:
5 * 4 / 2

10.0

# [<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/2560px-Logo_of_YouTube_%282015-2017%29.svg.png" height="200" width="200">](https://www.youtube.com)

[<img src = "" height = "200" width = "200"](https://broadwayinfosys.com/data-science-with-python-training-in-nepal)