# tuple
* Immutable
* ordered
* indexed
* read only
* allows duplicate value
* items written inside ( ) separated by comma

In [8]:
cars = ("Audi", "BMW", "Ferrari")
cars

('Audi', 'BMW', 'Ferrari')

In [9]:
type(cars)

tuple

In [11]:
tuple[-1]

tuple[-1]

In [12]:
tuple[0]

tuple[0]

In [20]:
cars[1:len(cars)]

('BMW', 'Ferrari')

In [17]:
cars[1:]

('BMW', 'Ferrari')

In [18]:
cars[:2]

('Audi', 'BMW')

In [19]:
cars[-2:]

('BMW', 'Ferrari')

In [22]:
for index in range(len(cars)):
    item = cars[index]
    print(f"index: {index}, item: {item}.")

index: 0, item: Audi.
index: 1, item: BMW.
index: 2, item: Ferrari.

In [23]:
cars[0] = "Thar"

TypeError: 'tuple' object does not support item assignment

# Tuple is immutable (read only)

In [24]:
cars[2] = "Mercedes"

TypeError: 'tuple' object does not support item assignment

In [27]:
cars = ["Audi", "BMW", "Ferrari"]
cars[0] = "Mercedes"
cars

['Mercedes', 'BMW', 'Ferrari']

# list is a mutable and tuple is immutable data type

# You can convert tuple into list and viceversa using the idea of type casting

In [37]:
cars = ("Audi", "BMW", "Ferrari")
print(id(cars))
cars = list(cars) # type casting to list
cars.append("Mercedes") # list method
cars = tuple(cars) # type casting to tuple
print(cars)
id(cars)

2214884744384
('Audi', 'BMW', 'Ferrari', 'Mercedes')

2214884700336

# tuple unpacking

In [38]:
first_name, last_name = ("Rajendra", "Niroula")

In [39]:
first_name

'Rajendra'

In [40]:
last_name

'Niroula'

In [42]:
for item in cars:
    print(item)

Audi
BMW
Ferrari
Mercedes